.main-screen-wrapper {
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-wrapper {
    max-width: 500px;
    max-height: 60vh;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.fixed-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.no-more-images {
    text-align: center;
    color: red;
    font-size: 24px;
}

.fixed-picture-name {
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-timerzero {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.timer-score-container {
    min-width: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}

    .timer-score-container span {
        min-width: 140px;
        display: inline-block;
    }
